li{
    list-style-type: none;
    padding: 10px;
}

ul{
    display: flex;
    color: white;
}

button{
    opacity: 0;
}

li:hover button{
    opacity: 1;
}

.logo{
    height: 100px;
    
}

.background{
    background-color: #000000;
    height: 100px;
    width: 100%;
}